body {
	background: #ffffff;
	font-family: 'Raleway', sans-serif;
	line-height: 25px;
}

input[type=text] {
	border: 1px solid #ddd;
	border-radius: 3px;
	display: block;
	font: inherit;
	height: 35px;
	outline: 0;
	padding: 0 10px;
}

hr {
	background: linear-gradient(to right, transparent, #cccccc, transparent);
	border: 0;
	height: 1px;
}

button {
	font: inherit;
}
